name: Stage Release

on:
  workflow_call:
    secrets:
      RELEASE_GITHUB_TOKEN:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          RELEASE_BRANCHES: main
          WITH_V: true
          INITIAL_VERSION: 1.0.0
          DEFAULT_BUMP: patch
